<Content of="main">

  <Smallheader title="About."/>

  <!-- About Us -->
  <div class="container mtb">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-responsive" src="modules/selenia-modules/demo-website-template/i/agency.jpg" alt="">
      </div>

      <div class="col-lg-6">
        <h4>About Us</h4>
        <p>Nullam quis commodo nibh, aliquam varius magna. Sed tellus eros, venenatis feugiat felis id, sodales lacinia
           libero. Proin eu quam rhoncus, faucibus sapien in, commodo neque. Pellentesque a felis vitae massa fermentum
           scelerisque.</p>
        <p>Cras risus ipsum, ornare non velit et, interdum volutpat turpis. Etiam viverra mi sit amet ligula luctus
           posuere. Aenean at condimentum quam, eget vestibulum lacus. Vivamus in accumsan sem. Nam sit amet justo
           posuere, dignissim dolor ut, blandit augue.</p>
        <p>Vivamus commodo gravida risus, volutpat finibus nisl consectetur sit amet.</p>
        <p><br/><a href="contact" class="btn btn-theme">Contact Us</a></p>
      </div>
    </div>
    <! --/row -->
  </div>
  <! --/container -->

  <!-- Out Team -->
  <div class="container mtb">
    <div class="row centered">
      <h3 class="mb">OUR TEAM</h3>

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
          <img src="modules/selenia-modules/demo-website-template/i/team/team01.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
              <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a> <a href="#"
                                                                                                            class="dmbutton a2"
                                                                                                            data-animate="fadeInUp"><i
              class="fa fa-twitter"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
        <h4>Irina Self</h4>
        <h5 class="ctitle">CEO</h5>
        <p>Morbi elementum, libero ac tincidunt condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu
           commodo.</p>
        <div class="hline"></div>
      </div>
      <! --/col-lg-3 -->

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
          <img src="modules/selenia-modules/demo-website-template/i/team/team02.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
              <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a> <a href="#"
                                                                                                            class="dmbutton a2"
                                                                                                            data-animate="fadeInUp"><i
              class="fa fa-twitter"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
        <h4>Carl Box</h4>
        <h5 class="ctitle">LEAD DESIGNER</h5>
        <p>Morbi elementum, libero ac tincidunt condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu
           commodo.</p>
        <div class="hline"></div>
      </div>
      <! --/col-lg-3 -->

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
          <img src="modules/selenia-modules/demo-website-template/i/team/team03.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
              <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a> <a href="#"
                                                                                                            class="dmbutton a2"
                                                                                                            data-animate="fadeInUp"><i
              class="fa fa-twitter"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
        <h4>Karina Ruth</h4>
        <h5 class="ctitle">LEAD DEVELOPER</h5>
        <p>Morbi elementum, libero ac tincidunt condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu
           commodo.</p>
        <div class="hline"></div>
      </div>
      <! --/col-lg-3 -->

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="he-wrap tpl6">
          <img src="modules/selenia-modules/demo-website-template/i/team/team04.jpg" alt="">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
              <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a> <a href="#"
                                                                                                            class="dmbutton a2"
                                                                                                            data-animate="fadeInUp"><i
              class="fa fa-twitter"></i></a>
            </div><!-- he bg -->
          </div><!-- he view -->
        </div><!-- he wrap -->
        <h4>Phil Calling</h4>
        <h5 class="ctitle">MARKETING</h5>
        <p>Morbi elementum, libero ac tincidunt condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu
           commodo.</p>
        <div class="hline"></div>
      </div>
      <! --/col-lg-3 -->

    </div>
    <! --/row -->
  </div>
  <! --/container -->

</Content>

<Include view="layouts/main.html"/>
