<Content of="main">

  <Smallheader title="Blog."/>

  <div class="container mtb">
    <div class="row">

      <! -- BLOG POSTS LIST -->
      <div class="col-lg-8">
        <!-- Matisse Macro - Check resources/macros/blogpost.html -->
        <Blogpost title="Integer dui magna, efficitur in molestie elementum"
                  image="modules/selenia-modules/demo-website-template/i/post01.jpg"
                  link="single-post"
                  linktext="[Read More]"
                  date="28/06/2016">
          Donec blandit vel massa nec semper. Sed a placerat orci, ut faucibus sem. Duis sagittis diam quis nulla
          posuere, in venenatis purus volutpat. Integer iaculis justo massa, vitae fermentum velit molestie sed. Etiam
          sed odio diam. Nullam commodo vel mauris sed eleifend. Pellentesque semper, dui in porttitor dignissim, urna
          nulla auctor dolor, sed auctor massa urna in lacus. Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </Blogpost>
        <!-- Matisse Macro - Check resources/macros/blogpost.html -->
        <Blogpost title="Nullam quis commodo nibh, aliquam varius magna"
                  image="modules/selenia-modules/demo-website-template/i/post02.jpg"
                  link="single-post"
                  linktext="[Read More]"
                  date="28/06/2016">
          Donec blandit vel massa nec semper. Sed a placerat orci, ut faucibus sem. Duis sagittis diam quis nulla
          posuere, in venenatis purus volutpat. Integer iaculis justo massa, vitae fermentum velit molestie sed. Etiam
          sed odio diam. Nullam commodo vel mauris sed eleifend. Pellentesque semper, dui in porttitor dignissim, urna
          nulla auctor dolor, sed auctor massa urna in lacus. Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </Blogpost>
        <!-- Matisse Macro - Check resources/macros/blogpost.html -->
        <Blogpost title="Sed neque tellus, sodales vitae ipsum pulvinar, rhoncus faucibus sapien"
                  image="modules/selenia-modules/demo-website-template/i/post03.jpg"
                  link="single-post"
                  linktext="[Read More]"
                  date="28/06/2016">
          Donec blandit vel massa nec semper. Sed a placerat orci, ut faucibus sem. Duis sagittis diam quis nulla
          posuere, in venenatis purus volutpat. Integer iaculis justo massa, vitae fermentum velit molestie sed. Etiam
          sed odio diam. Nullam commodo vel mauris sed eleifend. Pellentesque semper, dui in porttitor dignissim, urna
          nulla auctor dolor, sed auctor massa urna in lacus. Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </Blogpost>

      </div>
      <! --/col-lg-8 -->

      <! -- SIDEBAR -->
      <Include view="includes/blogsidebar.html"/>

    </div>
    <! --/row -->
  </div>
  <! --/container -->

</Content>

<Include view="layouts/main.html"/>
