<Content of="main">

  <Smallheader title="Contact."/>
  <div id="contactwrap"></div>

  <!-- Contact Form -->
  <div class="container mtb">
    <div class="row">
      <div class="col-lg-8">
        <h4>Sed tellus eros</h4>
        <div class="hline"></div>
        <p>Integer dui magna, efficitur in molestie elementum, faucibus at magna. Morbi elementum, libero ac tincidunt
           condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu commodo turpis.</p>
        <form role="form">
          <div class="form-group">
            <label for="InputName1">Your Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="InputSubject1">Subject</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="message1">Message</label>
            <textarea class="form-control" id="message1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-theme">Submit</button>
        </form>
      </div>
      <! --/col-lg-8 -->

      <div class="col-lg-4">
        <h4>Nullam porta</h4>
        <div class="hline"></div>
        <p>
          Suspendisse vulputate, 112,<br/> 2500-118, Aenean,<br/> Iam Viverra.<br/>
        </p>
        <p>
          Email: email@email.com<br/> Tel: +342 3243243-809783 </p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
      </div>
    </div>
    <! --/row -->
  </div>
  <! --/container -->

</Content>

<Include view="layouts/main.html"/>
