<Content of="main">

  <!-- Homepage Header -->
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>Lorem ipsum dolor sit amet consectetur</h3>
          <h1>EVestibulum ipsum ex</h1>
          <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
          <h5>Duis pretium orci eget lectus dapibus sollicitudin.</h5>
        </div>
        <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="modules/selenia/demo-website-template/i/image1.png" class="img-responsive">
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /headerwrap -->

  <!-- Service Features -->
  <div id="service">
    <div class="container">
      <div class="row centered">
        <div class="col-md-4">
          <!-- Matisse Macro - Check resources/macros/feature.html -->
          <Feature icon="fa-user-secret" title="Aliquam tincidunt" linktext="More Info" link="about">
            Cras facilisis mi sit amet felis vulputate vestibulum. Praesent lacus nulla, euismod sit amet cursus a,
            interdum tempus quam. Mauris feugiat rutrum iaculis. In hac habitasse platea dictumst. Aenean condimentum
            metus sem, ut efficitur mi vestibulum eget.
          </Feature>
        </div>
        <div class="col-md-4">
          <!-- Matisse Macro - Check resources/macros/feature.html -->
          <Feature icon="fa-database" title="Praesent" linktext="More Info" link="about">
            Cras facilisis mi sit amet felis vulputate vestibulum. Praesent lacus nulla, euismod sit amet cursus a,
            interdum tempus quam. Mauris feugiat rutrum iaculis. In hac habitasse platea dictumst. Aenean condimentum
            metus sem, ut efficitur mi vestibulum eget.
          </Feature>
        </div>
        <div class="col-md-4">
          <!-- Matisse Macro - Check resources/macros/feature.html -->
          <Feature icon="fa-pie-chart" title="Vivamus sem nisi" linktext="More Info" link="about">
            Cras facilisis mi sit amet felis vulputate vestibulum. Praesent lacus nulla, euismod sit amet cursus a,
            interdum tempus quam. Mauris feugiat rutrum iaculis. In hac habitasse platea dictumst. Aenean condimentum
            metus sem, ut efficitur mi vestibulum eget.
          </Feature>
        </div>
      </div>
    </div>
    <! --/container -->
  </div>
  <! --/service -->

  <!-- Portfolio -->
  <div id="portfoliowrap">
    <h3>OUR WORK</h3>

    <div class="portfolio-centered">
      <div class="recentitems portfolio">
        <!-- Matisse Macro - Check resources/macros/work.html -->
        <Work image="modules/selenia/demo-website-template/i/portfolio/p1.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p2.jpeg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p3.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p4.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p5.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p6.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p7.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p8.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p9.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p10.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
      </div><!-- portfolio -->
    </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->

  <!-- Faq´s and Blog Posts -->
  <div class="container mtb">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
        <h4>About us</h4>
        <p>Cras facilisis mi sit amet felis vulputate vestibulum. Praesent lacus nulla, euismod sit amet cursus a,
           interdum tempus quam. Mauris feugiat rutrum iaculis. In hac habitasse platea dictumst.Aenean condimentum
           metus sem, ut efficitur mi vestibulum eget. Pellentesque congue urna in sapien tempus, ac efficitur ligula
           egestas.</p>
        <p><br/><a href="about" class="btn btn-theme">More Info</a></p>
      </div>

      <div class="col-lg-3">
        <h4>FAQ</h4>
        <div class="hline"></div>
        <p><a href="#">Nunc ac facilisis felis?</a></p>
        <p><a href="#">Praesent lacus nulla?</a></p>
        <p><a href="#">Pellentesque congue urna?</a></p>
        <p><a href="#">Mauris mattis nisi et?</a></p>
        <p><a href="#">Interdum et malesuada?</a></p>
      </div>

      <div class="col-lg-3">
        <h4>Blog Posts</h4>
        <div class="hline"></div>
        <p><a href="single-post">Duis pretium orci eget.</a></p>
        <p><a href="single-post">Proin dignissim luctus sem.</a></p>
        <p><a href="single-post">Fusce commodo mauris.</a></p>
        <p><a href="single-post">Cras facilisis mi sit amet.</a></p>
        <p><a href="single-post">Suspendisse vulputate.</a></p>
      </div>

    </div>
    <! --/row -->
  </div>
  <! --/container -->

  <!-- Testimonials -->
  <div id="twrap">
    <div class="container centered">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <i class="fa fa-comment-o"></i>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
             industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
             scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
             electronic typesetting, remaining essentially unchanged.</p>
          <h4><br/>Marcel Newman</h4>
          <p>WEB DESIGNER - BLACKTIE.CO</p>
        </div>
      </div>
      <! --/row -->
    </div>
    <! --/container -->
  </div>
  <! --/twrap -->

  <!-- Clients -->
  <div id="cwrap">
    <div class="container">
      <div class="row centered">
        <h3>OUR CLIENTS</h3>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="modules/selenia/demo-website-template/i/clients/client01.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="modules/selenia/demo-website-template/i/clients/client02.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="modules/selenia/demo-website-template/i/clients/client03.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <img src="modules/selenia/demo-website-template/i/clients/client04.png" class="img-responsive">
        </div>
      </div>
      <! --/row -->
    </div>
    <! --/container -->
  </div>
  <! --/cwrap -->

</Content>

<Include view="layouts/main.html"/>
