<Content of="main">

  <Smallheader title="Portfolio."/>

  <!-- Title -->
  <div class="container mtb">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h2>Aliquam erat volutpat. Sed neque tellus, sodales vitae ipsum pulvinar.</h2><br>
        <div class="hline"></div>
      </div>
    </div>
  </div>
  <! --/container -->

  <!-- Portfloio collection -->
  <div id="portfoliowrap">
    <div class="portfolio-centered">
      <div class="recentitems portfolio">
        <!-- Matisse Macro - Check resources/macros/work.html -->
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p1.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p2.jpeg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p3.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p4.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p5.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p6.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p7.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p8.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p9.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p10.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p1.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p2.jpeg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p3.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p4.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p5.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p6.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p7.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p8.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p9.jpg"
              title="Vestibulum ante"
              Link="single-project"/>
        <Work image="modules/selenia-modules/demo-website-template/i/portfolio/p10.jpg"
              title="Vestibulum ante"
              Link="single-project"/>

      </div><!-- portfolio -->
    </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->

</Content>

<Include view="layouts/main.html"/>
