<Content of ="main">

  <Smallheader title="Single Project."/>

  <div class="container mt">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="modules/selenia/demo-website-template/i/portfolio/single01.jpg" alt="">
            </div>
            <div class="item">
              <img src="modules/selenia/demo-website-template/i/portfolio/single02.jpg" alt="">
            </div>
            <div class="item">
              <img src="modules/selenia/demo-website-template/i/portfolio/single03.jpg" alt="">
            </div>
          </div>
        </div><! --/Carousel -->
      </div>

      <div class="col-lg-5 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>PROJECT NAME</h4>
        <p>Nullam quis commodo nibh, aliquam varius magna. Sed tellus eros, venenatis feugiat felis id, sodales lacinia libero. Proin eu quam rhoncus, faucibus sapien in, commodo neque. Pellentesque a felis vitae massa fermentum scelerisque. </p>
        <h4>Our Proposal</h4>
        <p>Cras risus ipsum, ornare non velit et, interdum volutpat turpis. Etiam viverra mi sit amet ligula luctus posuere. Aenean at condimentum quam, eget vestibulum lacus. </p>
      </div>

      <div class="col-lg-4 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>Project Details</h4>
        <div class="hline"></div>
        <p><b>Date:</b> June 18, 2016</p>
        <p><b>Author:</b> Mark Newman</p>
        <p><b>Categories:</b> Illustration, Web Design, Electro</p>
        <p><b>Tagged:</b> Flat, UI, Development</p>
        <p><b>Client:</b> Some Brand</p>
        <p><b>Website:</b> <a href="http://electro.com">Website</a></p>
      </div>

    </div><! --/row -->
  </div><! --/container -->

  <!-- *****************************************************************************************************************
   PORTFOLIO SECTION
   ***************************************************************************************************************** -->
  <div id="portfoliowrap">
    <div class="portfolio-centered">
      <h3>Related Works.</h3>
      <div class="recentitems portfolio">
        <!-- Matisse Macro - Check resources/macros/work.html -->
        <Work image="modules/selenia/demo-website-template/i/portfolio/p10.jpg" title="Vestibulum ante" Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p1.jpg" title="Vestibulum ante" Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p2.jpeg" title="Vestibulum ante" Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p3.jpg" title="Vestibulum ante" Link="single-project"/>
        <Work image="modules/selenia/demo-website-template/i/portfolio/p4.jpg" title="Vestibulum ante" Link="single-project"/>
      </div><!-- portfolio -->
    </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->

</Content>

<Include view="layouts/main.html"/>
