<Content of="main">

  <Smallheader title="Single Post."/>

  <div class="container mtb">
    <div class="row">

      <! -- SINGLE POST -->
      <div class="col-lg-8">
        <! -- Blog Post 1 -->
        <p><img class="img-responsive" src="modules/selenia/demo-website-template/i/post01.jpg"></p>
        <a href="single-post.html"><h3 class="ctitle">Morbi elementum, libero ac tincidun</h3></a>
        <p>
          <csmall>Posted: April 25, 2014.</csmall>
          |
          <csmall2>By: Admin - 3 Comments</csmall2>
        </p>
        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Mauris ornare tempus laoreet. Cras
                                        a auctor dolor. Pellentesque porta neque eget eleifend tempus. Etiam velit nunc,
                                        porta vel tincidunt id, eleifend in mi. Mauris vitae facilisis tortor. Nullam
                                        quam leo, euismod eu ipsum eu, porta blandit risus. Nam vitae venenatis arcu.
                                        Maecenas pharetra, justo sit amet condimentum dictum, neque quam consectetur
                                        mauris, id elementum metus nulla vel mauris. Pellentesque habitant morbi
                                        tristique senectus et netus et malesuada fames ac turpis egestas. Sed elit
                                        metus, blandit sed dapibus a, semper vel risus. Cras eu neque commodo, lacinia
                                        tortor sed, pretium enim. Duis scelerisque lacinia eleifend. Aenean sed lorem
                                        sapien.</p>
        <p>Nullam quis commodo nibh, aliquam varius magna. Sed tellus eros, venenatis feugiat felis id, sodales lacinia
           libero. Proin eu quam rhoncus, faucibus sapien in, commodo neque. <a href="single-post">Pellentesque</a> a
           felis vitae massa fermentum scelerisque. Cras risus ipsum, ornare non velit et, interdum volutpat turpis.
           Etiam viverra mi sit amet ligula luctus posuere. Aenean at condimentum quam, eget vestibulum lacus. Vivamus
           in accumsan sem. Nam sit amet justo posuere, dignissim dolor ut, blandit augue. Vivamus commodo gravida
           risus, volutpat finibus nisl consectetur sit amet.</p>
        <blockquote>Integer dui magna, efficitur in molestie elementum, faucibus at magna. Morbi elementum, libero ac
                    tincidunt condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu commodo turpis.
                    Praesent est sapien, eleifend quis ex et, pellentesque tristique massa. Duis congue purus efficitur
                    egestas auctor. Sed pulvinar mollis magna non placerat. Vestibulum cursus faucibus elit vitae
                    euismod. Fusce et augue ipsum. Nullam porta dictum lorem, nec rutrum neque mattis vel. Suspendisse
                    molestie vestibulum nulla a convallis. Ut sit amet euismod sapien, id condimentum risus. Praesent
                    posuere nec nisl at volutpat. Vestibulum vitae massa quis magna ultrices vulputate vel sit amet
                    lorem. Vivamus auctor blandit lobortis.
        </blockquote>
        <p>Donec blandit vel massa nec semper. Sed a placerat orci, ut faucibus sem. Duis sagittis diam quis nulla
           posuere, in venenatis purus volutpat. Integer iaculis justo massa, vitae fermentum velit molestie sed. Etiam
           sed odio diam. Nullam commodo vel mauris sed eleifend. Pellentesque semper, dui in porttitor dignissim, urna
           nulla auctor dolor, sed auctor massa urna in lacus. Pellentesque habitant morbi tristique senectus et netus
           et malesuada fames ac turpis egestas. Aenean in condimentum sapien. Nulla quis tempus neque. Sed vulputate
           sem nec enim tristique vehicula.</p>
        <div class="spacing"></div>
        <h6>SHARE:</h6>
        <p class="share">
          <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
          class="fa fa-tumblr"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a>
        </p>

      </div>
      <! --/col-lg-8 -->

      <! -- SIDEBAR -->
      <Include view="includes/blogsidebar.html"/>

    </div>
    <! --/row -->
  </div>
  <! --/container -->


</Content>

<Include view="layouts/main.html"/>
