<!-- Footer -->
<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
        <p>Integer dui magna, efficitur in molestie elementum, faucibus at magna. Morbi elementum, libero ac tincidunt condimentum, magna sem porttitor tortor, sit amet pharetra velit arcu commodo turpis.</p>
      </div>
      <div class="col-lg-4">
        <h4>Social Links</h4>
        <div class="hline-w"></div>
        <p>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-tumblr"></i></a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Headquarters</h4>
        <div class="hline-w"></div>
        <p>
          Suspendisse vulputate, 112,<br/>
          2500-118, Aenean,<br/>
          Iam Viverra.<br/>
        </p>
      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/footerwrap -->
<!-- End of Footer -->
