<Import service="app"/>

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{pageTitle}</title>
    <base href="{app.baseURI}/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{app.favicon}">

    <Style src="modules/selenia/demo-website-template/dist/demo-website-template.css"/>
    <Style src="lib/prettyphoto/css/prettyPhoto.css"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <Include styles/>
  </head>

  <AssetsGroup prepend>
    <Script src="lib/jquery/dist/jquery.min.js"/>
    <Script src="lib/bootstrap/dist/js/bootstrap.min.js"/>
    <Script src="lib/retinajs/dist/retina.min.js"/>
    <Script src="modules/selenia/demo-website-template/js/jquery.hoverdir.js"/>
    <Script src="modules/selenia/demo-website-template/js/jquery.hoverex.min.js"/>
    <Script src="lib/prettyphoto/js/jquery.prettyPhoto.js"/>
    <Script src="modules/selenia/demo-website-template/js/jquery.isotope.min.js"/>
    <Script src="modules/selenia/demo-website-template/js/custom.js"/>
  </AssetsGroup>

  {#master|*}

</html>
